<div class="about">
    <div class="about_logo">
        <img src="/img/logo@2.png">
    </div>
    <div class="about-info">
        <div class="about-field-name"></div><div class="about-data"><a  target="_blank" href="https://www.dropbox.com/s/v3wxo8dt9b0host/BG_Manual_last.pdf?dl=0" style="font-size:25px;color:#fff;text-decoration: underline">Инструкция по использованию системы &rarr;</a></div>
        <div class="about-field-name">Наименование организации</div><div class="about-data">Общество с ограниченной ответственностью «Биллинград»</div>
        <!--<div class="about-field-name">Генеральный директор</div><div class="about-data">Копыльцов Константин Александрович</div>-->
        <div class="about-field-name">Юридический адрес</div><div class="about-data">125047, Москва г., 1-я Брестская ул., д.33, стр.1</div>
        <div class="about-field-name">Фактический адрес</div><div class="about-data">121069, Москва г., ул. Новый арбат., д.14, 14</div>
        <div class="about-field-name">ИНН</div><div class="about-data">7710954692</div>
        <div class="about-field-name">КПП</div><div class="about-data">771001001</div>
        <div class="about-field-name">ОКПО</div><div class="about-data">26455258</div>
        <!--<div class="about-field-name">ОГРН</div><div class="about-data">5137746218759</div>-->
        <!--<div class="about-field-name">Дата регистрации</div><div class="about-data">20 декабря 2013 года</div>-->
        <!--<div class="about-field-name">ОКПО</div><div class="about-data">26455258</div>
        <div class="about-field-name">ОКАТО</div><div class="about-data">45286585000</div>
        <div class="about-field-name">ОКТМО</div><div class="about-data">45382000</div>
        <div class="about-field-name">ОКФС</div><div class="about-data">16</div>
        <div class="about-field-name">ОКОПФ</div><div class="about-data">12165</div>
        <div class="about-field-name">ОКВЭД</div><div class="about-data">72.20 (Разработка программного обеспечения и консультирование в этой области); 51.43.2; 22.11</div>-->
        <div class="about-field-name">Банковские реквизиты</div><div class="about-data">р/сч 40702810102780000375<br>
        к/сч 30101810200000000593<br>
        БИК 044525593<br>
        В ОАО «АЛЬФА-БАНК» г.Москва</div>
        <div class="about-field-name">Контактный телефон</div><div class="about-data">+7&nbsp;(495)&nbsp;374-58-74</div>
        <div class="about-field-name">Контактный email</div><div class="about-data"><a href="mailto:rs@billingrad.com">rs@billingrad.com</a></div>

    </div>
</div>