<ul class="b-nav b-nav_bot">
    {{foreach $valueOf()}}
    <li class="b-nav__item"><a href="{{url}}" class="b-nav__item-href">
        <span class="b-nav__item-ball"><i class="icon icon_nav {{icon}}"></i></span>
        <span class="help-show">{{text}}</span></a>
    </li>
    {{/foreach}}
</ul>

<!--li class="b-nav__item"><a href="#" class="b-nav__item-href js-help">
    <span class="b-nav__item-ball"><i class="icon icon_help big-help"></i></span>
    <span class="help-show">Помощь</span></a-->