<div class="agreement">
    <h4>Соглашение</h4>
    <pre>
        Запрещена реклама в помощью смс и указание в имени отправителя следующих видов деятельности:
        Финансовых пирамид;
        Подделки документов (лицензии, свидетельства, дипломы);
        Услуг сексуального характера (эротический массаж, секс по телефону, эскорт-услуги);
        Сайтов для взрослых (18+);
        Пропаганды насилия;
        Наркотических средств, запрещенных веществ;
        Оружия и боеприпасов;
        Азартных игр (казино, тотализаторы, игровые автоматы, игра на деньги);
        Действий, связанных с приобретением и/или продажей орденов и медалей;
        Интимных товаров;
        Алкогольной продукции;
        Табачной продукции;
        Платежных систем;
        Платежных сервисов операторов;
        Электронных денег;
        Интернет банкинга;
        Мобильной коммерции.
    </pre>
    <div class="radio">
        <label>
            <input type="checkbox" name="agreement">
            Я согласен
        </label>
    </div>
    <button class="btn btn-default js_btn_yaya">Продолжить</button>
</div>
<div class="other">
    <h4 style="margin-top:25px">Имя отправителя должно соответствовать ряду правил:</h4>
    <div style="padding: 0 10px 20px">
        <div class="js_symbol rule">Используйте только латинские буквы в имени отправителя.<br></div>
        <div class="js_length rule">Имя отправителя ограничено количеством используемых символов - максимум 11 латинских букв или 12 цифр,<br></div>
        <div class="js_symbol rule">Не допускаются использование некоторых символов юникода, например, {| , ; % ' # % *! ^ = [ ] ( ) / ~ &gt; &lt;}".<br></div>
        <div class="rule">Не допускается использование имени чужого бренда<br></div>
    </div>
    <input type="text" class="input form-control" style="width:13em;float:left;margin-right:10px">
    <button class="btn btn-default js_btn_add">Добавить</button>
    <button class="btn btn-cancel js_btn_cancel">Отменить</button>
</div>